

a{
  text-decoration: none;
}
.navigation{
  display: flex;
    justify-content: space-between;
    padding: 20px;
   align-items: center;
 color: black;

}
.navigation nav ul{
  display: flex;
   list-style-type: none;
  

  /* justify-content: center; */
  /* align-items: center; */
}
.navigation nav ul li:hover{
  /* background-color: green; */
  border-radius: 50px;
 
}
.navigation nav ul li{
  padding-left: 10px;

}
.navigation nav ul li a{
  font-size: 20px;
  color:black;
  position: relative;
  padding-left: 20px;
  
}
.navigation nav ul li a:hover{
  /* color:  rgb(230, 230, 14); */
  color: rgb(11, 11, 226);

}
.navigation nav ul li a:hover::before{
  position: absolute;
  content: "";
  bottom:-5px;
  height: 2px;
  width: 100%;

  background-color: rgb(46, 44, 44);


}
.navigation img{
  height: 50px;

}
.home{
  
  color:white;

  /* margin: 0; */
  /* border:2px solid blue;
  border-radius: 50%; */

  
}


.close{
  display: none;
  position: absolute;
  /* top: 0; */
}
.bars{
  /* width: 40px;
  height: 40px; */
  cursor: pointer;
  display: none;

}
.hidebars{
display: none;
}
/* contact */
.cont1{
  flex-direction: column;
  flex-wrap: nowrap;
}

form{
  width:100%;
}

.fa{
  background: "#FDBC18" 
}